@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    outline: none;
  }
  
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,figure,section {margin:0;padding:0;  }
  article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main, address { display: block; }

  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body {background-color: #c8c8c8}
  
  
  #contents {
    position: relative;
    transition: .3s;
    margin-left: 290px;
    background-color: #ffd000;
  }
  .margin {
    margin-left: 0 !important;
  }
  /* Start side navigation bar  */
  
  .side-nav {
    float: left;
    height: 100%;
    width: 290px;
    background-color: rgba(255, 183, 0, 0.965);
    color: white;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 9999999
  }
  
  .side-nav .heading {
    background-color: #ff8800;
    padding: 15px 15px 15px 30px;
    overflow: hidden;
    border-bottom: 1px solid #ffb641
  }
  .side-nav .heading > img {
    border-radius: 50%;
    float: left;
    width: 28%;
  }
  .side-nav .info {
    float: left;
    width: 69%;
    margin-left: 3%;
    margin-top: 5%;
  }
  .side-nav .heading .info > h3 {margin: 0 0 5px}
  .side-nav .heading .info > h3 > a {
    color: #EEE;
    font-weight: 100;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    font-size: 18px;
  }
  .side-nav .heading .info > h3 > a:hover {
    color: #FFF;
  }
  .side-nav .heading .info > p {
    color: #BBB;
    font-size: 13px;
  }
  /* End heading */
  /* Start search */
  .side-nav .search {
    text-align: center;
    padding: 15px 30px;
    margin: 15px 0;
    position: relative;
  }
  .side-nav .search > input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5c3a00;
    padding: 7px 0 7px;
    color: #DDD
  }
  .side-nav .search > input ~ i {
    position: absolute;
    top: 22px;
    right: 40px;
    display: block;
    color: #ff4545;
    font-size: 19px;
  }
  /* End search */
  
  .side-nav .categories > li {
    padding: 17px 40px 17px 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
  }
  .side-nav .categories > li > a {
    color: white;
    text-decoration: none;
  }
  /* Start num: there are three options primary, danger and success like Bootstrap */
  .side-nav .categories > li > a > .num {
    line-height: 0;
    border-radius: 3px;
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px
  }
  .dang {background-color: #f35959}
  .prim {background-color: #0275d8}
  .succ {background-color: #5cb85c}
  /* End num */
  .side-nav .categories > li > a:hover {
    color: #FFF
  }
  .side-nav .categories > li > i {
    font-size: 18px;
    margin-right: 5px
  }
  .side-nav .categories > li > a:after {
    content: "\f053";
    font-family: fontAwesome;
    font-size: 11px;
    line-height: 1.8;
    float: right;
    color: #AAA;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .side-nav .categories .lol > a:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* End categories */
  /* Start dropdown menu */
  .side-nav .categories .side-nav-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    display: none;
  }
  .side-nav .categories .side-nav-dropdown > li > a {
    color: #AAA;
    text-decoration: none;
    padding: 7px 0;
    display: block;
  }
  .side-nav .categories p {
    margin-left: 30px;
    color: #535465;
    margin-top: 10px;
  }
  
  /* End dropdown menu */
  
  .show-side-nav {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    transform: translateX(-290px);
  }
  
  
  /* Start media query */
  @media (max-width: 767px) {
    .side-nav .categories > li {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .side-nav .search {
      padding: 10px 0 10px 30px
    }
  }
  
  /* End side navigation bar  */
  
  
  
  
  
  
  
  
  
  
  
  
  
  .main-color {
    color: white;
    font-family: 'Song Myung', serif;
  }
  .warning {background-color: #f0ad4e}
  .danger {background-color: #d9534f}
  .success {background-color: #5cb85c}
  .inf {background-color: #5bc0de}
  
  
  
  
  /* Start bootstrap */
  .navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
  }
  .navbar-default {
    background-color: rgba(255, 153, 0, 0.89) !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important
  }
  .navbar-default .navbar-nav>li>a {
    color: #EEE !important;
    line-height: 55px !important;
    padding: 0 10px !important;
  }
  .navbar-default .navbar-brand {color:#FFF !important}
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover {color: #EEE !important}
  
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}
  
  .navbar-default .navbar-brand {line-height: 55px !important; padding: 0 !important}
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {color: #FFF !important}
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
  @media (max-width: 767px) {
    .navbar>.container-fluid .navbar-brand {
      margin-left: 15px !important;
    }
    .navbar-default .navbar-nav>li>a {
      padding-left: 0 !important;
    }
    .navbar-nav {
      margin: 0 !important;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border: none !important;
    }
  
  }
  
  .navbar-default .navbar-nav>li>a {
    float: left !important;
  }
  .navbar-default .navbar-nav>li>a>span:not(.caret) {
    background-color: #e74c3c !important;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important
  }
  .dropdown-menu>li>a {
    padding-top: 5px !important;
    padding-right: 5px !important;
  }
  .navbar-default .navbar-nav>li>a>i {
    font-size: 18px !important;
  }
  
  
  
  
  /* Start media query */
  
  @media (max-width: 767px) {
    #contents {
      margin: 0 !important
    }
    .statistics .box {
      margin-bottom: 25px !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #CCC !important
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color: #FFF !important
    }
    .navbar-default .navbar-toggle{
      border:none !important;
      color: #EEE !important;
      font-size: 18px !important;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent !important}
  }

  .main{
      margin-left: 230px;
      position:relative;
      height: 100%;
      
      
  }



  .mypage_middle dl{
        float: left;
        width: 50%;
        letter-spacing: 0;
        margin-top: 23px;
        
       
}

.mypage_middle dl dt {
    clear: both;
    float: left;
    width: 20%;
    padding-left: 12px;
    font-weight: 400;
    color: #444;
    margin: 3px 0;
    line-height: 130%;
    border-right: 2px solid rgba(255, 153, 0);
}

.mypage_middle dl dd {
    float: left;
    width: 80%;
    font-size: 0.9em;
    margin: 3px 0;
    line-height: 130%;
    padding-left: 15px;
}

.mypage_top {
    border: 10px solid rgba(255, 153, 0);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    padding: 20px;
}

.mypage_top h2 {
  width: 300px;
  display: inline;
  padding-right: 350px;
}



.mypage_middle {
  margin-top: 40px;
  
  margin-left: 80px;
    margin-right: 80px;
    height: 200px;
    background-color: rgb(232, 232, 232);
    padding: 20px;

}

.btn_01 {
    display: inline-block;
    margin: 0 0 3px 10px;
    font-size: 14px;
}

div {
    display: block;
}
