@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    padding-top: 70px;
}


#contents {
    position: relative;
    transition: .3s;
    margin-left: 0;
    background-color: rgba(255, 153, 0);
}

.margin {
    margin-left: 0 !important;
}

/* Start side navigation bar  */

.side-nav {
    float: left;
    height: 100%;
    width: 230px;
    background-color: rgba(255, 183, 0);
    color: white;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: .3s;
    position: fixed;
    top: 55px;
    left: 0;
    overflow: auto;
    z-index: 9999999
}

.side-nav .heading {
    background-color: rgba(255, 183, 0, 0.965);
    padding: 15px 15px 15px 30px;
    overflow: hidden;
    border-bottom: 1px solid #ffb641
}

.side-nav .heading>img {
    border-radius: 50%;
    float: left;
    width: 28%;
}

.side-nav .info {
    float: left;
    width: 69%;
    margin-left: 3%;
    margin-top: 5%;
}

.side-nav .heading .info>h3 {
    margin: 0 0 5px
}

.side-nav .heading .info>h3>a {
    color: #EEE;
    font-weight: 100;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

.side-nav .heading .info>h3>a:hover {
    color: #FFF;
}

.side-nav .heading .info>p {
    color: #BBB;
    font-size: 13px;
}

/* End heading */


.side-nav .categories>li {
    padding: 17px 40px 17px 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
}

.side-nav .categories>li>a {
    color: white;
    text-decoration: none;
}

/* Start num: there are three options primary, danger and success like Bootstrap */
.side-nav .categories>li>a>.num {
    line-height: 0;
    border-radius: 3px;
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px
}

.dang {
    background-color: #f35959
}

.prim {
    background-color: #0275d8
}

.succ {
    background-color: #5cb85c
}

/* End num */
.side-nav .categories>li>a:hover {
    color: #FFF
}

.side-nav .categories>li>i {
    font-size: 18px;
    margin-right: 5px
}

.side-nav .categories>li>a:after {
    content: "\f053";
    font-family: fontAwesome;
    font-size: 11px;
    line-height: 1.8;
    float: right;
    color: #AAA;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.side-nav .categories .lol>a:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* End categories */
/* Start dropdown menu */
.side-nav .categories .side-nav-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    display: none;
}

.side-nav .categories .side-nav-dropdown>li>a {
    color: #AAA;
    text-decoration: none;
    padding: 7px 0;
    display: block;
}

.side-nav .categories p {
    margin-left: 30px;
    color: #535465;
    margin-top: 10px;
}

/* End dropdown menu */

.show-side-nav {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    transform: translateX(-290px);
}


/* Start media query */
@media (max-width: 767px) {
    .side-nav .categories>li {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .side-nav .search {
        padding: 10px 0 10px 30px
    }
}

/* End side navigation bar  */

.main-color {
    color: white;
}

.warning {
    background-color: #f0ad4e
}

.danger {
    background-color: #d9534f
}

.success {
    background-color: #5cb85c
}

.inf {
    background-color: #5bc0de
}




/* Start bootstrap */
.navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

.navbar-default {
    background-color: rgba(255, 153, 0) !important;
    border: none !important;
    border-radius: 0 !important;
    margin-left: 0 !important;
    height: 55px;
}

.navbar-default .navbar-nav>li>a {
    color: #EEE !important;
    line-height: 55px !important;
    padding: 0 10px !important;
}

.navbar-default .navbar-brand {
    color: #FFF !important
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #EEE !important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent !important;
    color: #FFF !important
}

.navbar-default .navbar-brand {
    line-height: 55px !important;
    padding: 0 !important
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FFF !important
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin: 0 !important
}

@media (max-width: 767px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: 15px !important;
    }

    .navbar-default .navbar-nav>li>a {
        padding-left: 0 !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none !important;
    }

}

.navbar-default .navbar-nav>li>a {
    float: left !important;
}

.navbar-default .navbar-nav>li>a>span:not(.caret) {
    background-color: #e74c3c !important;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important
}

.dropdown-menu>li>a {
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.navbar-default .navbar-nav>li>a>i {
    font-size: 18px !important;
}

/* start */

#contents-main {
    position: relative;
    margin-left: 230px;  
}

.main_top {
    margin-bottom: 20px;
}

.main_middle{
    margin-left: 20px;
    margin-right: 20px;
}

.main_dropdown {

    width: 1000px;
    height: 48px;
    margin-left: 20px;

}

.dropdown_btn {
    text-align: center;
    vertical-align: middle;
    border: 0;
    background-color: transparent;
    font-size: 30px;
    font-weight: 600;
    padding: 3px 12px 3px 0;

}

.main_dropdown .text {
    color: black;
}

.caret {
    color: #b3b3b3;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    font-size: 18px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
   
  .dropdown-content a:hover {background-color: #ddd;}

  .main_dropdown:hover .dropdown-content {display: block;}
 
.main_dropdown:hover .dropdown_btn {background-color: rgba(255, 153, 0);}


#notebook_equip{
    padding-top: 0px;
}

#rasberrypi_equip{
    padding-top: 80px;
}

#arduino_equip{
    padding-top: 60px;
}

#webcam_equip{
    padding-top: 60px;
}

#cable_equip{
    margin-top: 60px;
}

#tablet_equip{
    margin-top: 60px;
}

#tabletpc_equip{
    margin-top: 60px;
}

#tabletpad_equip{
    margin-top: 60px;
}

#cdrom_equip{
    margin-top: 60px;
}




/* Start media query */

@media (max-width: 767px) {
    #contents {
        margin: 0 !important;
        background-color: rgba(255, 153, 0);
    }

 

    #contents-main {
        margin-left: 230px;
    }

    .statistics .box {
        margin-bottom: 25px !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #CCC !important
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #FFF !important
    }

    .navbar-default .navbar-toggle {
        border: none !important;
        color: #EEE !important;
        font-size: 18px !important;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent !important
    }
}