<link rel="stylesheet" href="../static/css/sign.css">
<div class="login-wrap">
	<div class="login-html">
        <p style="color: aliceblue;">성공아 부탁해!</p>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">로그인</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">회원가입</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">학번</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">비밀번호</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="로그인">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">학번</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">비밀번호</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">비밀번호 확인</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">이메일</label>
					<input id="pass" type="text" class="input">
				</div>
                <div class="group">
					<input type="submit" class="button" value="이메일 인증하기" style="background-color: rebeccapurple;">
				</div>
				<div class="group">
					<input type="submit" class="button" value="회원가입">
				</div>
			</div>
		</div>
	</div>
</div>